html {
	font-size: 16px;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
    padding: 0 1.875em;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	flex-flow: row wrap;
}

header h1 {
	padding: .5em 0;
	border-bottom: .13em solid #77a466;
}

header h1 span {
	color: #77a466;
}

nav {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
}
nav a { 
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-bottom: 1.25em;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	text-decoration: none;
	color:#77a466;
}

.top-section,
.bottom-section {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 1200px;
	width: 90%;
	flex-flow: row wrap;
}

.section-two {
	border-top: .1875em solid #eee;
	border-bottom: .1875em solid #eee;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-top: .1875em solid #77a466;
	border-bottom: .1875em solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: .3125em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one p {
	padding bottom: 1em;
	color: #77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

footer {
	border-top: .1875em solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}
